<% if (!user) { %>
<a href="/login">
  <button style="float: right; margin: 2px" type="submit">Login
  </button>
</a>
<a href="/register">
  <button style="float: right; margin: 2px" type="submit">Register
  </button>
</a>
<% } else { %>
<form method="POST" action="/logout">
  <button style="float: right; margin: 2px" type="submit">Logout
  </button>
</form>
<% } %>
<h1 style= "line-height: 20px">
    TinyURL Maker!!!! ✌(-‿-)✌
</h1>
<body style= "line-height: 1px">
  <% if (user) { %>
  <p>
      User: <%= user.email %>
  </p>
  <% } %>
</body>
<h2 style= "line-height: 0px">
  ____________________________________________________________
</h2>