<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
      <% include partials/_header %>
    </header>
    <p style= "line-height: 10px">
      <strong>
        Welcome to TinyURL, you friendly world wide web neighhourhood URL shortener!
      </strong>
    </p>
    <img src="http://bestwallpaperhd.com/wp-content/uploads/2016/05/You-Can-Do-The-Thing.jpg" width ="720">
    <p style="line-height: 50px">
      <a href="/login">
        <strong>
          <font size="5">
            Click here to start your URL shortening jouney!!!
          </font>
        </strong>
      </a>
    </p>
</body>
</html>