<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
      <% include partials/_header %>
    </header>
    <a href="/urls">back to URL list</a>
</body>
</html>