<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
      <% include partials/_header %>
    </header>
    <table>
    <% for(var key in urls) {%>
      <p>
        <tr>
          <td><%= key %></td>
          <td> || </td>
          <td><%= urls[key] %></td>
          <td><a href="/urls/<%= key %>">edit</a></td>
          <td><form method="POST" action="/urls/<%= key %>/delete"><button type="submit">🗑</button></form></td>
        </tr>
      </p>
    <% } %>
    </table>
    <a href="/urls/new">Make your own TinyURL :)</a>
</body>
</html>