<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
      <% include partials/_header %>
    </header>
    <p>
      <strong><font size="4">
        Oops! It looks like an error occured. Please login to see your TinyURLs.
      </font></strong>
    </p>
    <a href="/urls">back to URL list</a>
</body>
</html>